body {
  background-image: url(_shunior.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Manjari", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #0b1957;
}

p {
  color: #0b1957;
  font-size: 15px;
  opacity: 0.7;
  line-height: 20px;
}

.weather-app {
  background: #fff9f0;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0px 15px 20px 5px rgba(76, 94, 168, 0.3);
  border-radius: 10px;
  padding: 50px;
}

header {
  border-bottom: 1px solid #edf1f6;
  padding: 0 0 25px 0;
}

.search-form-input {
  border: solid 1px;
  border-color: #bad6eb;
  border-radius: 20px;
  width: 80%;
  padding: 10px 20px;
  font-family: "Manjari", sans-serif;
}

.search-form-button {
  background: #7096d1;
  padding: 11px 30px;
  border: none;
  border-radius: 20px;
  color: white;
  margin-left: 10px;
}

.weather-app-data {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.temperature-container {
  display: flex;
}

.current-conditions {
  display: flex;
}

.temperature-container {
  margin-top: 50px;
  align-items: center;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-temp-value {
  font-size: 80px;
  font-weight: bold;
  margin-top: 30px;
}

.weather-unit {
  font-size: 20px;
  margin-bottom: 30px;
}

.weather-forecast {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  text-align: center;
  color: #0b1957;
}

.weather-forecast-date {
  font-size: 15px;
}

.weather-forecast-icon {
  width: 70px;
  height: 70px;
}

.weather-forecast-temp-min {
  opacity: 0.5;
  margin-left: 5px;
}

.weather-forecast-temperatures {
  font-size: 15px;
}

a {
  color: #7096d1;
}

footer {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 20px;
}
