body {
  background-color: #d0e3ff;
  font-family: "Manjari", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #0b1957;
}

p {
  color: #0b1957;
}

.weather-app {
  background: #fff9f0;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  padding: 30px;
}
